<!-- Toaster -->
<app-toaster-container></app-toaster-container>
<div class="row mt-4 p-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Lista de Actividades</h4>
        <div class="row col-md-6">
          <div class="col-md-4">
            <button
              type="button"
              class="btn btn-primary"
              (click)="open(content)"
            >
              <i class="fa-solid fa-plus"></i> Agregar
            </button>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-middle text-nowrap">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">Nombre</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of activityList">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">{{ a.name }}</h5>
                    </div>
                  </div>
                </td>
                <td class="d-flex justify-content-end">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="open(content, a)"
                  >
                    <i class="fa fa-pencil"></i> Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to create and update an activity -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="activityForm" class="form-horizontal" role="form">
      <div class="form-group required">
        <label class="col-lg-12 control-label">Nombre de la actividad:</label>
        <div class="col-lg-8">
          <input
            formControlName="activityName"
            id="input-activity-name"
            class="form-control"
            type="text"
            required
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveActivity()">
      Guardar
    </button>
  </div>
</ng-template>
