<app-toaster-container></app-toaster-container>
<div class="row mt-4 p-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Lista de Clientes</h4>
        <div class="row">
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-primary"
              (click)="open(content)"
            >
              <i class="fa-solid fa-plus"></i> Agregar
            </button>
          </div>
          <div class="col-md-6">
            <div class="d-flex justify-content-end">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="show-inactive-check"
                [(ngModel)]="showInactive"
                (change)="showInactives()"
              />
              <label
                class="form-check-label"
                style="margin-left: 15px"
                for="show-inactive-check"
              >
                Mostrar Inactivos
              </label>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-middle text-nowrap">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">Personería</th>
                <th class="text-dark font-medium fs-4">Cédula</th>
                <th class="text-dark font-medium fs-4">Nombre</th>
                <th class="text-dark font-medium fs-4">Apellido</th>
                <th class="text-dark font-medium fs-4">Hijos</th>
                <th class="text-dark font-medium fs-4">Tiene Pareja</th>
                <th class="text-dark font-medium fs-4">Asalariado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let a of clientList">
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">
                        {{ a.isLegalPerson ? "Jurídica" : "Fisica" }}
                      </h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">{{ a.dni }}</h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">{{ a.name }}</h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">
                        {{ a.isLegalPerson ? "NA" : a.lastName }}
                      </h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">
                        {{ a.isLegalPerson ? "NA" : a.children }}
                      </h5>
                    </div>
                  </div>
                </td>

                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">
                        {{ a.isLegalPerson ? "NA" : a.hasMate ? "Si" : "No" }}
                      </h5>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex align-items-center">
                    <div class="ms-3">
                      <h5 class="mb-0 font-medium">
                        {{
                          a.isLegalPerson ? "NA" : a.isSalaried ? "Si" : "No"
                        }}
                      </h5>
                    </div>
                  </div>
                </td>
                <td class="d-flex justify-content-end">
                  <button
                    type="button"
                    class="btn btn-danger"
                    (click)="makeInactive(a)"
                  >
                    <i class="fa fa-pencil"></i> Eliminar
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="open(content, a)"
                  >
                    <i class="fa fa-pencil"></i> Editar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to create and update a Client -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="clientForm" class="form-horizontal" role="form">
      <div class="form-group required">
        <div class="row d-flex offset-1 mt-2">
          <div class="form-check col-md-3">
            <input
              formControlName="clientLegalPerson"
              class="form-check-input"
              type="checkbox"
              value=""
              id="legal-person-check"
              (change)="IsLegalPerson()"
            />
            <label class="form-check-label" for="legal-person-check">
              Persona Jurídica
            </label>
          </div>
          <div class="form-check col-md-3">
            <input
              formControlName="clientIsSalaried"
              class="form-check-input"
              type="checkbox"
              value=""
              id="salaried-check"
              *ngIf="!legalPerson"
            />
            <label
              class="form-check-label"
              for="salaried-check"
              *ngIf="!legalPerson"
            >
              Asalariado
            </label>
          </div>
          <div class="form-check col-md-3">
            <input
              formControlName="clientHasMate"
              class="form-check-input"
              type="checkbox"
              value=""
              id="has-mate-check"
              *ngIf="!legalPerson"
            />
            <label
              class="form-check-label"
              for="has-mate-check"
              *ngIf="!legalPerson"
            >
              Conyugue
            </label>
          </div>
          <div class="form-check col-md-3">
            <input
              formControlName="clientActive"
              class="form-check-input"
              type="checkbox"
              value=""
              id="has-active-check"
            />
            <label class="form-check-label" for="has-active-check">
              Active
            </label>
          </div>
        </div>
        <div class="row mt-2" *ngIf="legalPerson">
          <div class="col-md-6">
            <label class="control-label">Razón Social:</label>
            <div class="">
              <input
                formControlName="clientName"
                id="input-client-name"
                class="form-control"
                type="text"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <label class="control-label">Cédula Jurídica:</label>
            <div class="">
              <input
                formControlName="clientDni"
                id="input-client-dni"
                class="form-control"
                type="text"
                required
              />
            </div>
          </div>
        </div>
        <div class="row mt-2" *ngIf="!legalPerson">
          <div class="col-md-6">
            <label class="control-label">Nombre:</label>
            <div class="">
              <input
                formControlName="clientName"
                id="input-client-name"
                class="form-control"
                type="text"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <label class="control-label">Apellido:</label>
            <div class="">
              <input
                formControlName="clientLastName"
                id="input-client-last-name"
                class="form-control"
                type="text"
                required
              />
            </div>
          </div>
        </div>
        <div class="row mt-2" *ngIf="!legalPerson">
          <div class="col-md-6">
            <label class="control-label" *ngIf="!legalPerson">Cédula:</label>
            <div class="">
              <input
                formControlName="clientDni"
                id="input-client-dni"
                class="form-control"
                type="text"
                required
              />
            </div>
          </div>
          <div class="col-md-6">
            <label class="control-label">Hijos:</label>
            <div class="">
              <input
                formControlName="clientChildren"
                id="input-childred"
                class="form-control"
                type="text"
                required
              />
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="row mt-2">
      <div class="col-md-6">
        <label class="control-label">Actividad:</label>
        <ng-multiselect-dropdown
          [placeholder]="'Seleccionar Actividad'"
          [settings]="dropdownSettings"
          [data]="dropdownList"
          [(ngModel)]="selectedItems"
        >
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="saveClient()">
      Guardar
    </button>
  </div>
</ng-template>
