<!-- Toaster -->
<!-- <app-toaster-container></app-toaster-container>

<h2>Toasts</h2>
  <p>Here are some available toast notifications:</p>
  <div class="card-container">
    <button class="card card-small success" (click)="showToast(EventTypes.Success)">
      <span class="material-icons">checkmark</span>
      <span>Show Success</span>
    </button>

    <button class="card card-small info" (click)="showToast(EventTypes.Info)">
      <span class="material-icons">info</span>
      <span>Show Info</span>
    </button>

    <button class="card card-small warning" (click)="showToast(EventTypes.Warning)">
      <span class="material-icons">warning</span>
      <span>Show Warning</span>
    </button>

    <button class="card card-small error" (click)="showToast(EventTypes.Error)">
      <span class="material-icons">error_outline</span>
      <span>Show Error</span>
    </button>


  </div> -->

<app-top-cards></app-top-cards>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-lg-7">
    <app-sales-ratio></app-sales-ratio>
  </div>
  <div class="col-lg-5">
    <app-feeds></app-feeds>
  </div>
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Table -->
<!-- ============================================================== -->
<div class="row">
  <!-- column -->
  <div class="col-12">
    <app-top-selling></app-top-selling>
  </div>
</div>
