<!-- Modal to select an Client -->

<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Seleccione un cliente</h4>
  <button type="button" class="close" aria-label="Close" (click)="close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <select class="selectpicker">
    <option data-tokens="ketchup mustard">Hot Dog, Fries and a Soda</option>
    <option data-tokens="mustard">Burger, Shake and a Smile</option>
    <option data-tokens="frosting">Sugar, Spice and all things nice</option>
  </select>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark">Guardar</button>
</div>
